:root {
  --spacing-default: 16px;
  --spacing-small: 8px;
}

.App {
  text-align: center;
  background-color: whitesmoke;
}

.App .mobile {
  width: 100%;
  max-width: 400px;
  min-height: 95vh;
  margin: auto;
  background-color: white;
  border: 15px solid rgb(31, 30, 30);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.App .mobile .stories {
  height: fit-content;
  border-radius: 10px;
  padding: var(--spacing-default) var(--spacing-small);
  overflow: hidden;
}

.App .mobile .stories>div {
  min-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: var(--spacing-default);
}

/* Prevents the Story components from shrinking */
.App .mobile .stories>div>* {
  flex-shrink: 0;
}

.App .mobile .posts {
  flex: 1;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  max-height: calc(100vh - 135px);
  overflow-y: auto;
}

/* CSS to hide the scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}